.fade-enter-active, .fade-leave-active {
    transition:opacity .3s;
    -moz-transition:opacity .3s;
    -webkit-transition:opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}