html,
body{
    width: 100%;
    height: 100%;
}
html{
    -ms-text-size-adjust: none;
    -webkit-appearance: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif !important;
    line-height:1.1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: auto;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

input,
select,
button,
textarea {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    ime-mode: disabled;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    -moz-appearance: textfield;
    ime-mode: disabled;
}
input,
textarea,
select{
    border-radius: 0;
}
//PingFang SC
#app {
    position: relative;
    background: #fff;
    height: 100%;
    max-width: 7.5rem;
    margin : 0 auto;
    font-size: .28rem;
    line-height: 1.1;
}
.page-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.isClient{
    .page-main{
        padding-top: 0;
    }
}
.page-main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: .9rem;
    &.show-footer{
        padding-bottom: 1rem;
    }
}
.page-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.iosX {
    $iosx_bottom_size: .8rem;

    .iosx-container {
        &:after {
            content: "";
            display: block;
            height: $iosx_bottom_size;
            width: 100%;
        }
    }
    .bank-list,
    .keyboard-wrap,
    .com-footer{
        padding-bottom : $iosx_bottom_size
    }
}

//页面级路由切换效果
.router-animate {
    width: 100%;
    height: 100%;
    transition: opacity .15s cubic-bezier(.55, 0, .1, 1);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .1s ease-in-out;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

.removeMarginTop {
    margin-top: 0 !important;
    padding-top: 0 !important;
}